.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.127);
  border-radius: 40px;
  box-shadow: 0 0 0 2px #ffffff6d, 0 0 0 4px #ff440000;
  position: absolute;
  animation: fade-in-animation 0.5s ease-in-out;
}

.login-register-button {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  top: 4rem;
  right: 4rem;
  font-size: 1.2rem;
  animation: left-animation 0.5s ease-out;
}

.return-button {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  bottom: 4rem;
  left: 4rem;
  font-size: 1.2rem;
  animation: right-animation 0.5s ease-out;
}

.login-title {
  font-size: 3rem;
  width: 100%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
  position: absolute;
  top: -5rem;
  left: 50%;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.form-group label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  height: 100%;
  border-radius: 40px 0 0 40px;
  border: 2px solid transparent;
  border-right: none !important;
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in-out;
}

.form-group {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.form-group input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0 40px 40px 0;
  border: 2px solid transparent;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-left: none !important;
  transition: all 0.2s ease-in-out;
}

.form-group:has(input:hover) label,
.form-group:has(input:hover) input {
  border: 2px solid rgba(255, 255, 255, 0.458);
}

.form-group:has(input:focus) label,
.form-group:has(input:focus) input,
.form-group:has(input:active) label,
.form-group:has(input:active) input {
  border: 2px solid rgba(255, 255, 255, 0.744);
  outline: none;
}

.login-ocean-top {
  top: -28%;
  transform: translateX(-50%);
  rotate: 195deg;
  z-index: -1;
}

.login-ocean-bottom {
  bottom: -17%;
  left: -15%;
  z-index: -1;
  rotate: 15deg;
}